#logo {
    width: 190px;
    height: 190px;
}
  
#logoImg {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 63px;
    top: -26px;
}

ul{
    list-style: none;
}

.accBtn{
    border: 0;
    box-shadow: 0 0 6px -2px #918a8a;
    color: #000;
    background: white;
}

.ddContent {
    background-color: #fafafa;
    box-shadow: 0 0 6px -2px #918a8a;
}

/* body {
    background: linear-gradient(#00000085, #000000d4), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/barman-equipment-such-as-measuring-cups-and-essence-royalty-free-image-1062066858-1557252311.jpg?crop=1.00xw:0.757xh;0,0.0916xh&resize=980:*);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
} */